<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Ваш заказ подтвержден</title>
    <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"></div>
    <span th:text="'Ваш заказ № ' + ${order_id_str} + ' успешно сформирован'"></span>
    <div>
        // how can I display PDF to user properly and safely?
        <a href="file:///D:/java/spring%201/Market/src/main/resources/orders/24-02-2020_order51.pdf">PDF заказа</a>

    </div>
    <br>
    <a th:href="@{/}">Вернуться на главную страницу</a>
</div>
</body>
</html>